.App {
    text-align: center;
}

.monster {
    height: 40vmin;
    pointer-events: none;
}

.cave {
    height: 40vmin;
    pointer-events: none;
}

.link {
    font-size: calc(1px + 2vmin);
    color: blue;
}

.App-header {
    background-color: #c77517;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
