# yaml-language-server: =https://json.schemastore.org/github-workflow.json
---
name: "Build erc20 DApp"
on:
    pull_request:
        paths:
            - "docker/**"
            - "docker-compose*.yml"
            - "base.hcl"
            - ".github/workflows/dapp-build.yml"
            - ".github/workflows/erc20-dapp.yml"
            - "erc20/**"
            - "!**/*.md"
    push:
        tags:
            - v*
        branches:
            - develop
jobs:
    build:
        uses: ./.github/workflows/dapp-build.yml
        with:
            dapp-name: erc20
        secrets: inherit
